 <%- include('../partials/header') %>
    <main>
        <%- include('../partials/searchbar') %>
        <section class="movie-main">
            <div class="container">
                <div class="movie-dp left">
                    <img src="#">
                    <div class="trailer-btn"> 
                        <a href="#"><i class="fas fa-play"></i> WATCH TRAILER</a>
                    </div>
                </div>
                <div class="movie-descript right">
                    <div class="movie-descript-heading">
                        <h1> <span></span></h1>
                    </div>
                    <div class="movie-share">
                        <div class="share-icon">
                            <i class="fas fa-share-alt"></i>
                        </div>
                        <div class="share-btns">
                            <div class="arrow"></div>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-review">
                        <div class="review-score">
                            <div class="left-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="right-score">
                                <p><span class="movie-avg-score"></span>/5</p>
                                <small><span class="movie-score-counts"></span> Reviews</small>
                            </div>
                        </div>
                        <div class="your-review-score">
                            <!-- logic -->
                            <!-- if not logged in display-> <p> You must <a>logged in</a> to rate movies in</p> -->
                            <!-- if logged in but hasn't rated movie based on his/her database record allow rating -->
                            <!-- if logged in and already rated display-> <p>You rated //score from database</p> -->
                            <% if(!currentUser) {%>
                                <p class="rate-movie">You must <a href="/login" class="rate-no-login">logged in</a> to rate movies</p>
                            <% } else {%>
                                <% if(!canRate){ %>
                                    <p class="rate-movie">You rated <span><%= rating %></span>  stars.</p>
                                    <% }else{ %>
                                        <p class="rate-movie">Rate this movie </p>
                                        <div class="rating-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        </div>
                                    <% } %>
                            <%}%>
                        </div>
                    </div>
                    <div class="movie-overview">
                        <h2>OVERVIEW</h2>
                        <div class="movie-overview-inner">
                            <div class="movie-overview-inner-left">
                                <div class="movie-summary">
                                    <p></p>
                                </div>
                                <div class="movie-images">
                                    <h3>IMAGES</h3>
                                    <div class="movie-images-inner">
                                    </div>
                                </div>
                                <div class="movie-casts">
                                    <h3>CASTS</h3>
                                    <div class="movie-casts-inner">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="movie-overview-inner-right">
                                <div class="director indiv">
                                    <h4>Director</h4>
                                </div>
                                <div class="writer indiv">
                                    <h4>Writer</h4>
                                </div>
                                <div class="gernes indiv">
                                    <h4>Gernes:</h4>
                                    <p><span>Action</span></p>
                                </div>
                                <div class="release-date indiv">
                                    <h4>Release Date</h4>
                                </div>
                                <div class="runtime indiv">
                                    <h4>Run Time</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script>
        const movieId = <%= movieId %> 
        let userId = 0;
        <% if(!currentUser) {%> //If user is not logged in it will currentuser will be false otherwise it will have value
            userId = null;
        <% } else {%>
            userId = <%= currentUser.id %>
        <% }%>
    </script>
    <script src="./../javascripts/movie.js"></script>
<%- include('../partials/footer') %>
